image: maven:3.8.2-openjdk-16

cache:
  paths:
    - .m2/repository

stages:
    - build
    - test

build:
    stage: build
    script: 
        - cd wishList && mvn install -B -DskipTests -DskipUiTests=true
        - mvn clean compile
        - mvn verify -DskipUiTests=true
        - cat core/target/site/jacoco/index.html
    artifacts:
        paths:
            - core/target/site/jacoco/index.html

test:
    stage: test
    script: cd wishList &&  mvn test -DskipUiTests=true
